<div class="container center">
    <form class="register-form" (submit)="registerAccount()">
        <h2>Register</h2>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="account.username">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="account.password">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="First Name" name="firstname" [(ngModel)]="account.firstname">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Last Name" name="lastname" [(ngModel)]="account.lastname">
          </div>
          <div *ngIf="message" class= "mb-3 err-message" role="alert">
            {{message}}
          </div>
          <div class="mb-3">
            <button class="btn btn-primary">Register</button>
          </div>
    </form>
</div>
